.retard {
  background-color: rgb(74 222 128);
  color: var(--farba-biela);
border-radius: 99px;
  width: 20px;
  font-size: 18px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  filter: drop-shadow(0 0 8px rgba(74, 222, 128, 0.4));
  animation: pulse 2s infinite;
}