.StrankaProjekt{
    height: fit-content;
    display: flex;
    /* padding: 0px 40px 0px 40px; */
    /* padding: var(--padding-Main); */
    width: 100%;
    background-color: var(--farba-biela)
}
.hlavnapaage{
   width: 100%;
   height: 100%;
   display: flex;
   /* padding: 30px;
   
   border-radius: var( --border-radius-Vonku); */
    background-color: aqua;
}
.headerericek{
    height: 80px;
    position: sticky;
    display: flex;
    top: 0px;
    justify-content: space-between;
    width: 100%;
    z-index: 200;
    opacity: 1;
    padding: 20px 40px 20px 40px;
  /* background-color: blue */
  background-color: var(--farba-biela)
}