.Kolazfotka{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: black; */

}
.mojSwiper{
    width: 600px;
    height: 500px;
        border-radius: var(--border-radius-Vonku);
    /* background-color: blue; */
}
.polozka333{

    display: flex;
    width: 100%;

    height: 100%;
    /* background-color: aqua; */
}
.fkokokokok{
       border-radius: var(--border-radius-Vonku);
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.celkokceockeoc{
    display: flex;
    /* background-color: blue; */
}
.textcicekkk{
    width: 100%;
    height: 50px;
    display: flex;
    /* background-color: aqua; */
}