.Swiperludia{
    background-color: var(--farba-biela);
    padding: 10px;
}
.ukazkaaa{
 width: 2px !important;
    height: 100px;
    background-color: rgb(0, 0, 0);
}
.ukazkaaa23{
    /* width: 2px !important; */
    height: 100%;
    background-color: aqua;
}
