.Vnutrozobrazenie{
    height: 100%;
    /* border: 1px solid black; */
    padding: 0px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    /* background-color: pink; */
}
.dokpicceekk{
    height: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}