.halvennee{
    width: 100%;
    display: flex;
/* gap: 20px; */
    height: 90px;
    /* padding: 20px; */
    /* background-color: aqua; */
    /* padding: 20px 0px; */
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    
}