.Nahlad2{
    height: 260px;
    
    width:240px;
 display: flex;
 flex-direction: column;
    top: 0px;
    gap: var( --gap-male);
    border-radius: var( --border-radius-Vonku);
    left: 20px;
    padding: 10px;
    background-color: var(--farba-biela);
}

.fotkaNahlad{
 width: 100%;
 box-shadow: var(--box-shadow);
 height: 100%;
 overflow: hidden;

  display: flex;
  border-radius: var(--border-radius-maly);
    background-color:var(--farba-biela)
    
}
.textNahlad2{
    width: 100%;
    
    height: 40px;
    /* background-color: rgb(1, 173, 10); */
}

.obrasek{
    width: 100%;
    height: 100%;
}
.textHore{
    width: 100%;
gap: 5px;
display: flex;
justify-content: space-between;
    /* background-color: red; */
}
.textDole{
    justify-content: center;
    align-items: center;

        width: 100%;
gap: 5px;
display: flex;
justify-content: space-between;

    /* background-color: rgb(0, 255, 174); */
    
}
.textLokacia {
  font-size: var(--font-size-base2);
  white-space: nowrap;
  color: var(--farba-sivaText);
}
.slideSwipeer{
    height: 100%;
    position: relative;
    width: 100%;
}
.obrazocekok{

 border-radius: var(--border-radius-maly);
    object-fit: cover;
 height: 100%;
    width: 100%;
}
.Nahlad .swiper-pagination-bullet {
  background: var(--farba-main2)!important;
  opacity: 1;
}

.Nahlad .swiper-pagination-bullet-active {
  background:var(--farba-main) !important;
}

/* neaktívne bodky */

.spikecakk{
      width: 25px;
height: 25px;
right: 5px;
border-radius: 999px;
font-size: 22px;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: var(--farba-main2);
transition: var(--transition);

}
.spikecakk:hover{
     background-color:var(  --farba-biela) ;
}
.spikecakk2{
   width: 25px;
height: 25px;
left: 5px;
border-radius: 999px;
font-size: 22px;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
transform: translateY(-50%);
background-color: var(--farba-main2);
transition: var(--transition);
}
.spikecakk2:hover{
     background-color:var(  --farba-biela) ; 
}
.textNazov{
    font-size: var(    --font-size-base100);
    transition: var(--transition);
    color: var(--farba-cierna);
      white-space: nowrap;   
}
.textNazov:hover{
    cursor: pointer;
    color: var(--farba-sivaText)

}
.wrapperprecelok{
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    /* background-color: aqua; */
}
.ikonainko{
 color: var(--farba-sivaText)
  }
.obrazocekok2{
box-shadow: var(--box-shadow);
 border-radius: var(--border-radius-maly);
    object-fit: cover;
 height: 100%;
    width: 100%;
}
.zobrazujjemmee{
    display: none;
}
.zobrazujjemmee2{
    display: block;
  }
@media (max-width: 1100px) {
  .ikonainko{
   font-size: 13px;
  }
 .Nahlad{
    height: 160px;
    
    width:140px;
 display: flex;
 flex-direction: column;
    top: 0px;
    gap: var( --gap-male);
    border-radius: var( --border-radius-Vonku);
    left: 20px;
    padding: 10px;
    background-color: var(--farba-biela);
}

  
}
@media (max-width: 750px) {
  .ikonainko{
   font-size: 13px;
  }
  .Nahlad{
    height: 230px;
}
  
}



/* @media (max-width: 680px) {
 .zobrazujjemmee{
    display: block;
}
  .zobrazujjemmee2{
    display: none;
  }
}

 */

