

.Zobrazenieuctu{
    height: 160px;
    width: 100%;

    /* right: 10px; */
    gap: 10px;
    overflow: hidden;
    display: flex;
   

    flex-direction: row;
    border-radius: var(  --border-radius-maly);
    /* border: var(--border); */
    box-shadow: var(  --box-shadow);
    /* background-color: blue; */
}
.jednotakk{
 width: 60%;
 position: relative;
 height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
   /* background-color: red; */
}
.dvaojkk{
   flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

   /* background-color: rgb(0, 0, 0); */
}
.foteckaoko{
    height: 100%;
    width: 100%;
        object-fit: cover;
}
.ikonabodkaa{
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: -5px;
    border-radius: 99px;
    right: -5px;
z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: var(--farba-biela);
    background-color: var(--farba-main);
}
.tvojaklasicka {
    width: 60px;
    height: 60px;
    background-color: green;
    border-radius: 99px;
    overflow: hidden;
    position: relative;
   
}