.Nepomenujem{
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    color: var( --farba-sivaText);
    font-size: 17px;
    padding: 0px 10px;
    display: flex;
    transition: var(  --transition);
    /* border-radius: var(--border-radius-maly); */
    border-bottom: 1px solid var(  --farba-main2)
    /* background-color: blue; */
}
/* .Nepomenujem:hover{
    background-color: red;
    
} */