.Hybesto{
    height: 520px;
    display: flex;
    /* padding: 10px; */
    flex-direction: column;
    width: 420px;
   gap: 15px;
/* 
    background-color: rgb(255, 187, 0); */
}
.hoteite{
    width: 100%;
    height:50px;

    display: flex;
    flex-direction: row;
   
    /* background-color: rgb(191, 0, 0); */
}
.scroolvcasr {
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  flex-direction: column;
  gap: 15px;
  display: flex;
  width: 100%;
  /* background-color: greenyellow; */

  /* Skryť scrollbar vo všetkých prehliadačoch */
    overscroll-behavior: contain; 
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Internet Explorer a Edge */
}

.scroolvcasr::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}
.tadruhacast{
    width: 300px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    /* background-color: aqua; */
}
.tapravcast{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.texticekoks{
  color: var( --farba-sivaText);
  transition: var(--transition);
}
.texticekoks:hover{
  color: var( --farba-cierna);

}