.Main{
 width: 100%;
  min-height: 100vh; /* minimálna výška celé okno */
  height: fit-content; 
  border-radius: var( --border-radius-Vonku);
  /* background-color:red; */
  padding: var(--paddingHlava);

  display: flex;
  flex-direction: column;
}
.vrch{
  /* background-color: aqua; */
  width: 100%;
  min-height: calc(100vh - 20px);
  /* padding: var(--padding-main2); */
display: flex;
gap: var(   --gap-male);
flex-direction: column;

  /* border: 1px solid var(--farba-main2); */
}

.dalsie{
  width: 100%;
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: var(  --gap-little);
  height: fit-content;
  /* background-color: rgb(255, 0, 0); */
}
.mestke{
  width: 100%;
  height: 2000px;
  background-color: blue;
}
.Vidiek{
  width: 100%;
  height: fit-content;
  background-color: rgb(45, 241, 55);
}
.dvoch{
  width: 100%;
  padding: 0px 40px 0px 0px;
  height: fit-content;
  background-color: var(--farba-biela)

}
.mestke{
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 0, 0);
}
.výhľadom{
  width: 100%;
  height: 2000px;
  background-color: rgb(255, 55, 0);
}
.Prémiové{
  width: 100%;
  height:fit-content;
  background-color: var(--farba-biela)
}
.bazénom{
  width: 100%;
    height: fit-content;
   padding: 0px 40px 0px 0px;
   background-color: var(--farba-biela)
}
.parkovaním{
  width: 100%;
  height: 2000px;
  background-color: rgb(255, 255, 255);
}
.vymezodvac{
  height: 10px;
  background-color: var(--farba-biela);
}
/* .flex-footer-wrap {
    display: flex;
    padding: var(--sepicialitapadding);
} */

@media (max-width: 750px) {
.Main{
 width: 100%;
  min-height: 100vh; /* minimálna výška celé okno */
  height: fit-content; 
  background-color:var(--farba-biela);
  /* background-color:red; */
  padding: 0px 0px 0px 0px;
 border-radius: 0px;
  display: flex;
  flex-direction: column;
}
}