.Main{
 width: 100%;

  min-height: 100vh; /* minimálna výška celé okno */
  height: fit-content; 
  border-radius: var( --border-radius-Vonku);
  /* background-color:red; */
  padding: 20px 0px 0px 40px;
  /* margin: 0px 0px 10px 0px; */
  display: flex;
  flex-direction: column;

}
.vrch{
  /* background-color: aqua; */
  width: 100%;
  min-height: calc(100vh - 20px);
  /* padding: var(--padding-main2); */
display: flex;
gap: var(   --gap-male);
flex-direction: column;

  /* border: 1px solid var(--farba-main2); */
}

.dalsie{
  width: 100%;
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: var(  --gap-little);
  height: fit-content;
  /* background-color: rgb(255, 0, 0); */
}