.Ikonypage{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: VAR(--gap-little);
    padding:21px 19px;
    border-radius: var(  --border-radius-maly);
    /* background-color: red; */
    height: 20px;
    transition: var(  --transition);
}
/* .Ikonypage:hover{
    cursor: pointer;
    background-color: var( --farba-main2);
 
} */
.ikonavelkost{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    font-size: 20px;
     color: var(--farba-sivaText);
}
.ikonatexcike {
    white-space: nowrap;
    font-size: var(--font-size-base);
  color: var(--farba-sivaText);
}