.Header{
    width: 70px;
    display: flex;
    z-index: 300;
    /* overflow: hidden; */
    position: relative;
    flex-direction: column;
    border-radius: var(  --border-radius-Vonku);
   height: 100%;
   padding: 10px;
   border: 1px solid var( --farba-siva);
       
    background-color: VAR( --farba-biela);
}
.HeaderBodky{
    width: 100%;
    height: 20px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    /* background-color: black; */
    display: flex;

}
.HeaderUp{
  
    width: 100%;
    height: 130%;
    /* background-colo
    .texticekr: aqua; */
}
.texticek{
    font-size: var(  --font-size-small);

    padding: 0px 0px 0px 4px;
    width: 100%;justify-content: start;
    align-items: center;
    display: flex;
    height: fit-content;
    background-color: black;
}
.HeaderDown{
     width: 100%;
    height: 100%;

    /* background-color: rgb(0, 255, 21); */
}
.todlasie{
    /* background-color: rgb(217, 255, 127); */
    display: flex;
    align-items: center;

    justify-content: start;
    flex: 1;
}
.horehore{
    width: 100%;
    display: flex;
  gap: var(--gap-little);
    flex-direction: column;
    /* background-color: blueviolet; */
    height: fit-content;
}
.Logo{
    display: flex;
     gap: var(--gap-little);
    position: relative;
    height: 40px;
    /* overflow: hidden; */
    /* background-color: green; */
    width: 100%;
}
.logocelocek{
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: flex;
    /* background-color: aqua; */
}
.HeaderIkony{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    justify-content: start;
    align-self: start;
    gap: 10px;
    padding: 40px 0px;
    /* background-color: blue; */
}
.HeaderIkony2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    justify-content: space-between;
    align-self: start;
    gap: 5px;
    padding: 40px 0px 0px 0px ;
    /* background-color: rgb(128, 255, 0); */
}
.ikona{
    color: var(--farba-cierna);
    font-size: 22px;

}
.maleokno{
    top: 10px; 
    z-index: 10;
    font-size: var(  --font-size-small);
    transform: translateY(-50%); 
   left: 52px;
    position: absolute;
    width: fit-content;
    padding: 4px 8px;
    border-radius: 8px;
    color: var(--farba-biela);
    height: fit-content;
    
    background-color: var(--farba-main);
}
.upozorenie{
    width: 100%;
    display: flex;
    gap: 5px;
    /* padding:10px; */
  border-radius: var( --border-radius-maly);
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
    height: 40px;
    /* background-color: rgb(0, 0, 0); */
}
.upozorenie2{

    display: flex;
    gap: 5px;
    padding:10px;
    /* border-radius: 12px; */
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
   height: 100%;

   width: 30px;
    background-color: blueviolet;
}
.fotkaHeader{
    height: 100%;
    overflow: hidden;
    border-radius: var( --border-radius-maly);
    background-color: blue;
       width: 40px ;
           flex: 0 0 auto;  
}
.foteckaaa{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textHeaderspodok{
    overflow: visible;
flex: 1;
flex-direction: column;
gap: 2.5px;
  display: flex;
  justify-content: center;
  align-items: start;
    background-color: var(--farba-biela);
       
}

.ikonaHeaderodhlasenie{
    display: flex;
    padding: 0px 12px 0px 0px;
    align-items: center;
    justify-content: center;
width: fit-content;
    /* background-color: rgb(0, 255, 26); */
       
}
.ikona2{
    transition: var(  --transition);
    color: var(--farba-cierna);
    font-size: 22px;

}
.logoLOgo{
    width: 40px;
    display: flex;
    justify-content: center;
align-items: center;
    height: 100%;
    flex: 0 0 auto;
      border-radius: var( --border-radius-maly);
    /* background-color: aqua; */
}
.logoLOgo2{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 12px 0px 9px;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    flex: 0 0 auto;
      border-radius: var( --border-radius-maly);
    background-color: var(--farba-main2)
    /* background-color: red */

}
.inputieklogo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 20px;
    height: 100%;
  
}
.inputieklogo:hover{
   cursor: pointer;
}

.inputi {
    height: 100%;
    
    width: 100%;
    background-color: var( --farba-main2);
    outline: none; /* odstráni obrys pri focus */
    border: none;  /* voliteľne odstráni aj rámik */
}

.inputi:focus {
    outline: none;
    border: none;
}
.textEmail {
  font-size: var(--font-size-base3);
  white-space: nowrap;
 transition: var(--transition);
  margin: 0;
  line-height: 1;
}
.textEmail:hover {
  cursor: pointer;
  text-decoration: underline;

}

.zobrazeneeinputu{
    position: absolute;
    height: fit-content;
    width: fit-content;
    left:215px;
    top: -40px;
    display: flex;
    padding: 40px 40px 40px 0px;
    
    gap: var(  --gap-male);
    /* background-color: aqua; */
    
}
.wrapperlistok{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    padding: 10px;
    gap: 11px;
    /* background-color: blueviolet; */
}

.listocek{
   max-height: 460px;  /* maximálna výška */
    height: fit-content;    
    /* overflow: hidden; */
    list-style: none;
    overflow-y: auto;
    /* padding: 10px; */
    width: 200px;
     scrollbar-width: none; /* pre Firefox */
    -ms-overflow-style: none; /* pre IE a Edge */
      
       border-radius: VAR(--border-radius-Vonku);
         gap:10PX;
             display: flex;
             flex-direction: column;
              border: 1px solid var( --farba-siva);
      background-color: var(--farba-biela);
      /* background-color: green; */
}

.tu{
    width: fit-content;
    height: 100px;
    /* background-color: black; */
}
.polozka{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    transition: VAR(  --transition);
    width: 100%;
    gap: var(--gap-malicka);
    height: 45px;
    flex: 0 0 auto;
    padding:  0px 13px;
    position: relative;
    border-radius: var(--border-radius-maly);
   /* background-color: red; */
}
.polozka:hover{
    cursor: pointer;
   
   background-color: var(--farba-main2);
}

/* iohvuiehviuehbvuirbvrubvhrbghbvhjdsbvjhbvhjsbvjhsbvhs */
.hornyheader{
     display: none;
    width: 100%;
     z-index: 1000;
    height: 70px;
      padding:   10px 20px ;
    background-color:red;
   box-shadow:var( --box-shadow)
}
.vnutorooo33{
    height: 100%;
    border-radius: var(--border-radius-maly);
    overflow: hidden;
    background-color: aqua;
    width: 100%;
    display: flex;
}
.lenitambudeikona{
    height: 100%;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: beige;
}


.inputetkkke {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: var(--farba-biela);

}

.inputetkkke:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


@media (max-width: 750px) {
  /* sem daj štýly pre mobil/tablet */
  .Header{
    display: none;
  }
.hornyheader {
    display: block;
  
}
}