.footer{
    width: 100%;
    background-color: blanchedalmond;
    height: fit-content;
    padding: var(--sepicialitapadding)
}
.obsahfooter{
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--gap-male);
    flex-direction: column;
    /* background-color: aquamarine; */
}
.spodok{
    width: 100%;

    /* background-color: rgb(156, 156, 156); */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linka{
    width: 100%;
    height: 1px;
    border-radius: var(--border-radius-main2);
    background-color: var(--farba-siva);
}
.horecekook{
    flex: 1;
display: flex;
gap: 300px;
    /* background-color: rgb(0, 217, 255); */
}
.tabulka{
    height: 100%;
    /* border: 1px solid black; */
    width: fit-content;
    display: flex;
    gap: var(  --gap-male);
    flex-direction: column;
    /* background-color: blue; */
}
.tabulka2{
    height: 100%;
    /* border: 1px solid black; */
    width: fit-content;
    display: flex;
    gap: var(  --gap-male);
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
.celokcekokok{
    /* background-color: rgb(60, 60, 60); */
    display: flex;

    justify-content: space-between;
  
    width: 100%;
    flex-direction: row;
}
.odkazisaem{
    width: 100%;
    height: 100%;
    gap: var( --gap-male);
    flex-direction: column;
    display: flex;
   
    /* background-color: blueviolet; */
}
.textsposokfooter{
    color: var(--farba-sivaText);
      white-Space: nowrap;
    font-size: var( --font-size-base69);
}
.textsposokfooter:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
 
}
.cesta{
    background-color: blue;
    display: flex;
    gap: 5px;
}
.ikonakus{
    color: var(--farba-sivaText);
}
.celkonwesletter{
    width:400px;
    display: flex;
    flex-direction: column;
    height: 100%;
 gap: var( --gap-male);
    /* background-color: aqua; */
}
.textsposokfooter2{
    color: var(--farba-sivaText);
      /* white-Space: nowrap; */
    font-size: var( --font-size-base69);
}
/* .textsposokfooter2:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
 
} */
 .inputeekcekc input:focus {
  outline: none;
  box-shadow: none;
}
@media (max-width: 1150px) {

  .tabulka2{
    display: none;

  }
}
@media (max-width: 1000px) {

  .horecekook {
    gap: 80px;            /* menší gap */
  }

  .celkonwesletter {
    width: 300px;         /* zmenšenie šírky formulára */
  }
}



/* === MOBIL (do 700px) === */
@media (max-width: 830px) {

.spodok{
  display: none;

}



  .celokcekokok {
    flex-direction: column;   /* celý footer pod seba */
    gap: 30px;
  }

  .horecekook {
    flex-direction: column;   /* tabuľky pod seba */
    gap: 20px;
  }

  .celkonwesletter {
    width: 100%;              /* newsletter na celú šírku */
  }

  .spodok {
    flex-direction: column;   /* copyright + odkazy pod seba */
    height: auto;
    gap: 10px;
  }

  .textsposokfooter {
    white-space: nowrap;
  }
}
@media (max-width: 750px) {

.footer{
   
    padding: 0px 20px 0px 20px
}

}