

.lentak{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  gap: var( --padding);
  background-color: red;
  /* background-color: var(--farba-main2); */
  padding: var( --padding);
}

/* .MainCast2{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 254, 254);
} */
.zakladny {
  height: 100%;
  width: 100%;   
  align-items: end;
  
  overflow-y: auto;
   
  /* border-radius: 18PX 18PX 0PX 0PX ; */
  /* border: 1px solid var(--farba-siva); */
/* background-color:red; */
  /* skryť scrollbar */
  scrollbar-width: none; /* pre Firefox */
  -ms-overflow-style: none; /* pre IE a Edge */
}

.zakladny2{
  height: 100%;
  width: 100%;   
  padding: 0PX 0PX 0PX 0PX;

  align-items: center;
  position: relative;
  overflow-y: auto;
  border-radius: var(--border-radius-Vonku);
  border: 1px solid var(--farba-siva);
background-color:var(--farba-biela);
  /* skryť scrollbar */
  scrollbar-width: none; /* pre Firefox */
  -ms-overflow-style: none; /* pre IE a Edge */
}

.zakladny::-webkit-scrollbar {
  display: none; /* pre Chrome, Safari, Opera */
}

 .velkyzatvarac{
  width: 100%;
  position: fixed;
  height: 100vh;
  opacity: 0.5;
  z-index: 20;
  background-color: var(--farba-bielaEfekty);
 }